OPENAI_API_KEY=your_openai_api_key_here



SMTP_SERVER=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USERNAME=b26b23001@smtp-brevo.com
SMTP_PASSWORD=710a98b05d16acb5d702f4fa086d183ba837a66b9c1265851416933f7eba562b-uJRV6piqsnJX5Jn9
SMTP_SENDER_EMAIL=bossbudget07@gmail.com
SMTP_SENDER_NAME=BudgetBoss